.background {
    height: 100% !important;
}

.section {
    overflow: hidden;
}

.ImageHolder {
    overflow: hidden;
}

.leftSideCol {
    /* background: linear-gradient(135deg, hsl(0, 100%, 98%), hsl(0, 0%, 100%)); */
    background-image: url('/images/base-apparel-coming-soon/bg-pattern-desktop.svg');
    background-size: cover;
    background-repeat: no-repeat;
}

.leftSide {
    padding: 80px 200px;
}

.leftSide__mid {
    margin: 150px 0px;
    margin-bottom: 50px;
}

.header h2 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
    color: hsl(0, 6%, 24%);
    font-size: 75px;
    letter-spacing: 16px;
    line-height: 0.9;
}

.header h2 span {
    font-weight: 300;
    color: hsl(0, 36%, 70%);
}

.para {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
    color: hsl(0, 36%, 70%);
    font-size: 16px;
}

.para p {
    line-height: 2;
}

.email input {
    font-family: 'Josefin Sans', sans-serif;
    border: 1px hsl(0, 36%, 70%) solid;
    font-size: 16px;
    padding: 16px 20px;
    border-radius: 50px;
    width: 100%;
}

.email input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: hsl(0, 36%, 70%);
    opacity: 1; /* Firefox */
}

.sbmitButton {
    margin-top: -59px;
    display: flex;
    justify-content: flex-end;
}

.sbmitButton button {
    background: linear-gradient(to right, hsl(0, 80%, 86%) 0%, hsl(0, 74%, 74%) 100%);
    border: none;
    border-radius: 32px;
    padding: 18px 44px;
}

.errorInput {
    border: 2px hsl(0, 93%, 68%) solid;
}