.background {
    background-image: linear-gradient(0deg, hsl(240, 73%, 65%), hsl(273, 75%, 66%));
    height: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Kumbh Sans', sans-serif;
}

.cardHolder {
    overflow: hidden;
    font-weight: 400;
    margin: 0px 20px;
    background-color: white;
    border-radius: 10px;
}

.card {
    max-width: 1080px;
}

.leftSide {
    max-width: 475px;
    padding: 80px 125px;
    padding-left: 0px;
}

.imgHolder{
    width: 480px;
    height: 100%;
    display: flex;
    align-items: center;
}

.img1 {
    margin-left: -20%;
}

.img2 {
    margin-left: -20%;
}

.img3 {
    margin-left: -35%;
    width: 13% !important;
    top: 45%;
    position: absolute;
    z-index: 3;
}

.imgHolder img {
    position: absolute;
    width: 100%;
}

.bodyHeader h2 {
    font-weight: 700 !important;
    color: hsl(237, 12%, 33%);
}

.bodyDropdownHolder {
    border-bottom: 1px solid hsl(240, 5%, 91%);
}

.bodyDropdown {
    
}

.bodyQuestion {
    display: flex;
    justify-content: space-between;
}

.bodyQuestion:hover {
    cursor: pointer;
}

.bodyQuestion:first-child {
    color: hsl(237, 12%, 33%);
}

.bodyQuestion:first-child:hover {
    color:  hsl(14, 88%, 65%);
}

.bodyQuestionSelected {
    font-weight: 700 !important;
}

.bodyQuestionArrow {
    transform: rotate(0deg);
}

.bodyQuestionArrowFiliped {
    transform: rotate(180deg);
}

.bodyAnswerShow,
.bodyAnswerHide {
    overflow: hidden;
    color: hsl(240, 6%, 50%);
    font-size: 12px;
}

.bodyAnswerShow {
    height: 100%;
    display: block;
    animation: wipe-open 3s 1;
}

.bodyAnswerHide {
    height: 0%;
    display: none;
    animation: wipe-close 3s 1;
}

.displayMobile {
    display: none;
}

.imgHolderMobile {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: -36%;
}

.img1Mobile {
    margin-top: -25px;
}

.img3Mobile {
    width: 25% !important;
    left: 14%;
    margin-top: 17%;
}

@media (max-width: 993px) {
    .displayMobile {
        display: block;
        position: absolute;
        width: 65%;
    }

    .displayDesktop {
        display: none;
    }

    .leftSide {
        padding: 40px 15px;
        padding-top: 140px;
    }

    .bodyHeader {
        justify-content: center;
    }

}