.background {
    background-image: linear-gradient(45deg, hsl(240, 73%, 65%), hsl(273, 75%, 66%));
    height: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Kumbh Sans', sans-serif;
}

.cardHolder {
    overflow: hidden;
    font-weight: 400;
    margin: 0px 20px;
    background-color: white;
    border-radius: 10px;
}

.card {
    max-width: 1080px;
}

.imgHolder{
    width: 480px;
}

.imgHolder img {
    position: absolute;
    width: 100%;
}

.bodyHeader h2 {
    font-weight: 700 !important;
}

.bodyDropdownHolder {
    border-bottom: 1px solid hsl(240, 5%, 91%);
}

.bodyDropdown {
    
}

.bodyQuestion {
    display: flex;
    justify-content: space-between;
}

.bodyQuestion:hover {
    cursor: pointer;
}

.bodyQuestion:first-child:hover {
    color:  hsl(14, 88%, 65%);
}

.bodyQuestionSelected {
    font-weight: 700 !important;
}

.bodyQuestionArrow {
    transform: rotate(0deg);
}

.bodyQuestionArrowFiliped {
    transform: rotate(180deg);
}

.bodyAnswerShow,
.bodyAnswerHide {
    overflow: hidden;
}

.bodyAnswerShow {
    height: 100%;
    display: block;
    animation: wipe-open 3s 1;
}

.bodyAnswerHide {
    height: 0%;
    display: none;
    animation: wipe-close 3s 1;
}

@keyframes wipe-open {
	0% {
		height: 0%;
	}
	50% {
        height: 100%;
	}
}

@keyframes wipe-close {
	0% {
        height: 100%;
	}
	50% {
        height: 0%;
	}
}