.background {
    background-color: #0F141E;
    padding: 8% 20%;
    min-height: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 992px) {
    .background {
        padding: 8% 10%;
    } 
}

.cardHolder {
    cursor: pointer;
    margin-bottom: 30px;
}

.projectImageHolder {
    margin-bottom: 10px;
}

.projectImageHolder img {
    border-radius: 5px;
}

.projectNameHolder h5 {
    color: #A4A9B3;
}

.projectsolutionURL a {
    color: hsl(224, 23%, 55%);
    text-decoration: none;
}

.projectsolutionURL a:hover {
    text-decoration: underline;
}
