.background {
    background-color: hsl(226, 43%, 10%);
    height: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Manrope', sans-serif;
}

.cardHolder {
    max-width: 936px;
}

.bigCard {
}

.bigCardUpper {
    background-color: hsl(246, 80%, 60%);
    border-radius: 25px;
}

.profileImgHolder img {
    width: 62px;
    border: 2px solid white;
    border-radius: 50%;
}

.bigCardBlow {
    background-color: hsl(235, 46%, 20%);
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}