.background {
    background-color: hsl(210, 46%, 95%);
    height: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Manrope', sans-serif;
}

.cardHolder {
    border-radius: 10px;
    font-weight: 400;
    margin: 0px 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    max-width: 936px;
}

.card {
    
}